
<mat-toolbar color="primary">
 <div class="title">DIN Calculator</div>
</mat-toolbar>

<div class="container">

    <p>
        <app-skill (selected)="onSkillUpdate($event)"></app-skill>
    </p>

    <p>
        <app-age (selected)="onAgeUpdate($event)"></app-age>
    </p>

    <p>
        <app-weight (selected)="onWeightUpdate($event)"></app-weight>
    </p>

    <p>
        <app-height (selected)="onHeightUpdate($event)"></app-height>
    </p>

    <p>
        <app-solelength (selected)="onSoleLengthUpdate($event)"></app-solelength>
    </p>
    
    <p>
        <button color="primary" mat-raised-button (click)="calculateDINSetting()">Generate</button> 
    </p>

</div>

<app-result #results></app-result>

