/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-deep-orange, 500, A100, A400);

$primary-color: mat-color($mat-blue, 500);
$accent-color: mat-color($mat-deep-orange, 400);

// Create the theme object (a Sass map containing all of the palettes).
$theme:     mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

body,html {
    padding:0;
    margin:0;
    height: 100%;
    font-family: 'Roboto';
    font-weight: 300;
    min-height: 100vh;
}
